DISCORD_EMBED_COLOR="your-embed-color"

RIOT_API_URL=""
RIOT_DDRAGON_URL=""

DISCORD_TOKEN="your-bot-token"
DISCORD_CLIENT_ID="your-bot-id"

RIOT_API_KEY="your-riot-api-key"

MONGO_URI="your-mongo-uri"